body {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.header-links {
    display: flex;
    gap: 30px;
}

.header a{
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.top-sign-up {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 90px 300px;
    align-items: center;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.left-content .text {
    color: #e5e7eb;
    font-size: 15px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    Flex: 1;
    margin-right: 50px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 0px;
    border-radius: 5px;
}

.text, .caption {
    overflow-wrap: wrap;
}

.info-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 90px;
}

.item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-box {
    display: flex;
    flex: 1;
}

.bottom-sign-up {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
}

.info-box img {
    width: auto;
    height: 200px;
    object-fit: cover;
}

.top-sign-up img {
    width: auto;
    max-height: 450px;
}